# sys
.DS_Store

# ide
.idea/
.vscode/*.code-workspace
.VSCodeCounter/

# node
node_modules/
dist/
.turbo/

# java
.gradle/
build/
out/
bin/

# python
.venv/
__pycache__/
**/.pytest_cache/
apps/knowledge-service/data/
knowledge-service.db
data/

.env
.env.local
.env.dev
.env.dev.local

output/

coverage/
